/* INDEX  --------------------
- CSS RESET
- GENERAL HELPER CLASSES
- UNIVERSAL STYLES
- HEADER & FOOTER
- MODULAR ELEMENTS
- Element Name
- FORMS

---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/

/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
}

[class*=grid-][class*=-equalHeight]>[class*=col] {
  display:block;
  /* This overrides a quirk where contents inside of equal height containers become columns themselves */
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.mob-show { display: none;}

.full-width { /* for image grids */
  width:100%
}
.half-width { /* for image grids, make sure you eliminate the whitespace issue in your html */
  width: 48%;
  margin: 1%;
  display:inline-block;
}

.light{
  background-color: rgba(236, 240, 241,1.0);
}

.dark{
  background-color: rgba(44, 62, 80,1.0);
}

.dark-text{
  color: rgba(44, 62, 80,1.0);
}

/* ----- UNIVERSAL STYLES --------------------------- */

/* Typography */
body {
  font-family: 'Work Sans';
  color: rgba(44, 62, 80,1.0);
}

h1{
  margin-top: 18%;
  color: white;
}

h1, h2, h3, h4{
  margin-bottom: 1.1rem;
}

h5, h6{
  margin-bottom: 0.5rem;
}

p {
  padding-bottom: 1rem;
}

h1 { font-size: 3.0rem; line-height: 1.2; }
h2 { font-size: 2.4rem; line-height: 1.25; }
h3 { font-size: 2.0rem; line-height: 1.3; }
h4 { font-size: 1.4rem; line-height: 1.35; }
h5 { font-size: 1.3rem; line-height: 1.35; }
h6 { font-size: 1.1rem; line-height: 1.2; }
p  { font-size: 1.1rem; line-height: 1.2;}
blockquote  { font-size: 1.1rem; line-height: 1.5;}
li  { font-size: 1.1rem; }

h5 a{
  text-decoration: none;
}

h5 a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: underline;
}


/* Padding & Margin */
footer  { padding: 4vh 3%; }
section         { padding: 10vh 5%; }
.col,
[class*=col-]   { padding: 1% 3%; }

/* Other universal styles */

.fa.featured {
  color: #1abc9c; /* featured color */
  background: none;
}

.featured{
  background-color: rgba(2,0,33,1);
  margin-top: 0;
  padding-top: 0;
}

hr {
  border: none;
  border-top: 1px solid rgb(245,245,245);
  margin: 3vh 0;
}
.previous, .next { /* This is to navigate to the previous and next */
  padding: 0 1.5em;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.no-padding { padding: 0; }

img.headshot{
  max-width: 45%;
}

section.staff{
  padding-top: 5vh;
  padding-bottom: 1vh;
}

/* ---- Color Overrides --- */

section, footer, body {
  background-color: white;
}

/* ----- HEADER & FOOTER --------------------------- */
nav a {
  text-decoration: none;
  padding: 1em;
  color: white;
  font-size: 1.2em;
}
nav a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: underline;
}
.logo {
  max-height: 4rem;
  max-width: 15rem;
  margin: 0.5em 0;
}

footer nav a {
  padding: 0.5em;
  align-items: center;
}

footer nav .fa,
.social-share nav .fa {
  padding: 0 1em 0 0;
}

.pure-drawer { /* pop-out hamburger menu */
  padding: 5em 3%;
}

.mob-nav a {
  display: block;
  padding: 0.5em;
}

nav.gray a{
  color: rgba(44, 62, 80,1.0);
}

/* ----- MODULAR ELEMENTS --------------------------- */
.box-img { /* This can be used for any col or div that you want filled with a background image. */
  background-color: grey; /* this is a fallback incase the image doesn't load */
  background-size: cover;
  background-position: center;
  min-height: 20vh;
}

/* Buttons */
button {
  background-color: rgba(44, 62, 80,1.0);
  border: none;
  border-radius: 5px;
  padding: 0.5em 3em;
  margin: 1em auto;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
}

a button:hover{
  font-weight: semi-bold;
  background-color: white;
  color: rgba(44, 62, 80,1.0);
  border-style: solid;
  border: 1px solid rgba(44, 62, 80,1.0);
}

/* Lists */
ul      { list-style: circle inside; }
ol      { list-style: decimal inside;}
ol, ul  { padding-left: 0;
  margin-top: 0; }
  li      { margin-bottom: 0.5rem; }

  .icons .fa{
    font-size: 3.5em;
    margin-bottom: 3%;
  }

  [class*=grid]>:not([class*=_md-0]).flex-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  img.mockup{
    padding: 1%;
  }

  a.jobs{
    text-decoration: none;
    color: rgba(44, 62, 80,1.0);
    display: block;
    margin-bottom: 0.5rem;
  }

  a.jobs:hover{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: rgba(52, 152, 219,1.0);
  }
  div.jobs{
    padding:1% 0%;
  }

  p.white{
    color: white;
  }

  .white{
    color: white;
  }


  /* ----- FORMS --------------------------- */

  input,
  textarea {
    border-style: solid;
    border: 1px solid grey;
    padding: 0.8em;
    -webkit-appearance: none;
    font-family: 'Work Sans'; /* Site Font */
    font-size: 1em;
    display: block;
    width: 100%;
    margin: 1em auto;
    vertical-align: top;
  }

  textarea {
    min-height: 7em;
  }

  input[type="submit"] {
    width: auto;
    display: block;
    background-color: #1abc9c; /* featured color */
  }

  form [class*=col-] {
    padding: 1%;
  }


  /* ------------ BACKGROUND IMAGES --------------- */
  .banner {
    background-color: white;
    background-size: cover;
    background-position: center;
    min-height:100vh;
  }

  .intro {
    background-image: url('/images/ocean_snorkeling_friends.jpg');
  }

  .about {
    background-image: url('/images/kitebeach.jpg');
  }

  .team{
    background-image: url('/images/moroccocamel.jpeg');
  }

  .career{
    background-image: url('/images/aerialoceanbeach.jpg');
  }

  .signup{
    background-image: url('/images/pineappleocean.jpg');
    background-size: cover;
    background-position: bottom;
    min-height:70vh;
  }

  /* Header Class */

  header {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    /*position: fixed;
    width: 100vw;
    margin-bottom: 200px;*/
  }

  .header-active {
    background: rgba(255, 0, 0, 0.5);
  }


  /*------- Media Queries ------------------------*/
  @media(max-width:800px) {

    /* --- General Responsive Helpers ----*/

    .mob-hide {
      display: none!important;
    }
    .mob-show {
      display: block;
    }

    /* These classes flip the order of the columns on a mobile layout so that we don't have two images touching. Try commenting them out and see the difference */
    .mob-flip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }
    .mob-flip div {
      width: 100%; /* This fixes a flexbox bug */
    }

    /* ------ General Mobile Styles ---------*/
    /* This aligns everything to center on mobile, this is purely slylistic, remove or adjust to suit your design */
    body,
    .left,
    .right {
      text-align: center;
    }
    /* This adjusts the padding on all columns, this is purely slylistic, adjust to suit your design. */
    /* [class*=col-] is a fancy selector that selects everything class that contains col- including col-3, col-4 etc. */
    .col,
    [class*=col-] {
      padding: 1rem;
      }/* End media query */
      textarea {
        margin: 0;
      }

    }

/* ------ Mailchimp Styles ---------*/

#mce-responses {
  position: relative;
  display: inline-block;
  color: rgba(44, 62, 80,1.0)
}
#mce-responses a {
color: rgba(44, 62, 80,1.0); }


.display-none {
  display: none;
}

.radio-button-wrapper {
  width: 100%;
  position: relative;
  display: inline-block; }

.single-radio-wrap .radio-inner input {
  display: none;
  visibility: hidden; }

.single-radio-wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 5px;
  padding-right: 5px; }

.single-radio-wrap .radio-inner label {
  width: 100%;
  padding: 17.5px 0;
  line-height: inherit;
  transition: all .5s ease;
  cursor: pointer;
  display: block;
  text-align: center; }

.single-radio-wrap .radio-inner .segment-radio:checked + .segment-label {
  border-bottom: 1px solid rgba(44, 62, 80,1.0); }
