<!-- These are the scripts that will be placed just before the closing body tag on every page. -->

<!-- jQuery -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


<!--for counter-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="js/jquery.modal.js"></script>
<script src="js/jquery.formchimp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/jquery.gsap.min.js" integrity="sha256-ZaDT0STqd6DBO5vN81j+x7of7z9dBO/cO3bDuaK67TU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js" integrity="sha256-Y7X151r2Tk9/N3WcxW1qQn/phEPJ9mY8uOxqaI4AWW4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js" integrity="sha256-ZPRfl51CApzXw8ydKFJG9+0Gkk5hcLAVDbWtEeaVvss=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js" integrity="sha256-x53M8Q7kf8Tl4NNqrMMhWSfakQ5Gsp3IwlVg18jAjvY=" crossorigin="anonymous"></script>




<!-- This is your file with custom javascript or jquery -->
<script src="/js/main.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/keen-js/3.4.1/keen-query.min.js"></script>

<script src="/js/wt-app/app.js"></script>
