<div class="modal" id="contact-modal" style="display:none;">
  <h3>Contact</h3>
  <p>Use the below form to contact us or send an email to <a href="mailto:hello@welltraveled.io">hello@welltraveled.io</a></p>
  <form action="https://formspree.io/hello@welltraveled.io" method="POST" id="contact-form">
      <input type="text" name="name" placeholder="Name" id="inputName">
      <input type="text" name="subject" placeholder="Subject" id="inputsubject">
      <input type="email" placeholder="Email" name="_replyto" id="inputEmail">
      <input type="textarea" placeholder="Message" name="message" rows="4" id="inputMessage">
      <input type="submit" placeholder="Name" value="Send">
    <div class="submit-fail display-none">Please fill in all form fields<br></div>
    <div class="submit-success display-none">Thanks! A staff member will be in touch shortly.<br></div>
  </form>
</div> <!-- End Modal Wrap -->
