<a href="/index"><img class="logo" src="images/wt_whitecompass.png" alt="Well Traveled"></a>
<nav class="mob-nav">
  <a href="/index">Home</a>
  <!-- <a href="/about">About</a> -->
  <!-- <a href="/team">Team</a> -->
  <a href="/career">Careers</a>
  <a href="#signup-modal" rel="modal:open">Sign Up</a>
  <a href="#contact-modal" rel="modal:open">Contact</a>
</nav>

<hr> <!-- this is a horizontal rule, aka line -->

<nav class="social-nav">
  <!-- add your social links here -->
  <a href="https://www.facebook.com/welltraveled.io/" target="_blank"> <i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/welltraveled.io/" target="_blank"> <i class="fa fa-instagram"> </i></a>
  <a href="https://www.twitter.com/welltraveled_io" target="_blank"> <i class="fa fa-twitter"></i></a>
  <a href="https://angel.co/welltraveled/" target="_blank"> <i class="fa fa-angellist"></i></a>
  <a href="https://www.linkedin.com/company/well-traveled" target="_blank"> <i class="fa fa-linkedin"></i></a>
</nav>
