<!-- HEADER SECTION ---->


<header class="main-header grid-middle {{page.header-class}}">
  <div class="col-6_sm-12 mob-hide">
    <a href="/index"><img class="logo" src="images/wt_whitecompass.png" alt="Well Traveled"></a>
  </div>
  <div class="col-6_sm-12 mob-hide">
    <nav class="right">
      <a href="/index">Home</a>
      <!-- <a href="/about">About</a> -->
      <!-- <a href="/team">Team</a> -->
      <a href="/career">Careers</a>
      <a href="#signup-modal" rel="modal:open">Sign Up</a>
      <a href="#contact-modal" rel="modal:open">Contact</a>
    </nav>
  </div>
</header>
